@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Montserrat:ital,wght@0,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(169, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

ol{
    list-style: none;
}

.container-global{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container-global .container-left{
    position: relative;
    background: rgb(0, 61, 125);
    /* background-image: linear-gradient(#55968f, #8acbbb); */
    background-image: linear-gradient(#13334c, #005792);
    padding: 40px;
}

.container-global .container-right{
    position: relative;
    background: whitesmoke;
    padding: 40px;
}

.container-infoGen{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 3px solid rgb(255,255,255, 0.2); */
    padding-bottom: 25px;
}

.container-infoGen .img-profile{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.container-infoGen .img-profile img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-infoGen{
    color: white;
}

.container-global a{
    color: white;
}
.container-infoGen h1{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 3px solid rgb(255,255,255, 0.5);
    width: 100%;
    padding-bottom: 10px;
}

.container-infoGen a{
    padding-top: 10px;
    /* border-bottom: 3px solid rgb(255,255,255, 0.2); */
    padding-bottom: 10px;
}

.container-infoGen ul li{
    position: relative;
    margin: 10px 0;   
    font-size: 13px;
}

.container-infoGen i{
    display: inline-block;
    letter-spacing: 15px;
}

.skill-esp{
    width: 100%;
    border-top: 3px solid rgb(255,255,255, 0.5);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.esp{
    position: relative;
    width: 100%; 
    background-color:#fd5f00;
    border-radius: 100px;
}

.skill-ing{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15apx;

}

.container-skill{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 100px;
    position: relative;
}

.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    position: relative;
    
}

.ing{
    position: relative;
    width: 95%; background-color:#fd5f00;
    border-radius: 100px;
}

.profile h1{
    padding-bottom: 10px;
    font-size: 25px;
}

.profile{
    margin-bottom: 20px;
}

.profile p{
    margin-top: 25px; 
}



.dates{
    position: relative;
    display: flex;
    display: block;
}

.container-exp{
    width: 100%;
    border-top: 3px solid #13334c;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-exp h2{
    padding-bottom: 10px;
    font-size: 25px;
}

.dates{
    position: relative;
    display: flex;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 13px;
}


.container-exp li{
    font-size: 15px;
}

.titles{
    display: block;
    position: relative;
    padding-bottom: 10px;
    font-style: italic;
}

.info-job{
    position: relative;
    padding-bottom: 10%;
}

.formation{
    width: 100%;
    border-top: 3px solid #13334c;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.formation i{
    display: inline-block;
    letter-spacing: 5px;
}

.formation h3{
    font-size: 25px;
}

.container-habiTec{
    width: 100%;
    border-top: 3px solid #13334c;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-habiTec h3{
    font-size: 25px;
}

.content-table{
    
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
    min-height: 150px;
}

.content-table thead tr{
    background-color: #005792;
    color: white;
    text-align: center;
    font-weight: bold;
}

.content-table th{
    padding: 10px 10px;
}
.content-table td{
    width: 200px;
    text-align: center;
}

.content-table tbody tr{
    border-bottom: 2px solid #005792;
}